<%- include('header'); -%>



  <!-- ******** Features ******  -->

  <section id="Features">


    <div class="row">
      <div class="feature-box col-lg-3">
        <img class="icons" src="/imges/customer.png" alt="">
        <h2> <a class="FB" href="#">خدمات </a> </h2>
      </div>


      <div class="feature-box col-lg-3">
        <img class="icons" src="/imges/blog.png" alt="">
        <div class="drob btn-group" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-light " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <h2 class="FB"> انشر</h2>
          </button>
          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item text-center" href="/wazeefeh">وظيفة</a>
            <a class="dropdown-item text-center" href="/tadreeb">برنامج تدريبي</a>
          </div>
        </div>
    </div>

    <div class="feature-box col-lg-3">
      <img class="icons" src="/imges/online-learning.png" alt="">
      <h2> <a class="FB" href="/trian">برامج تدريبية </a> </h2>
    </div>


    <div class="feature-box col-lg-3 ">
      <img class="icons" src="/imges/opportunity.png" alt="">
      <h2> <a class="FB" href="/jobs">الوظائف </a> </h2>
    </div>
  </section>
 
  <%- include('footer');-%>