<%- include('header'); -%>

<div class="container mt-5">
  <h1>تسجيل الدخول</h1>

  <div class="row">
    <div class="col-sm-4">
      <div class="card" style="margin-top: 2rem;">
        <div class="card-body" >
          <a class="btn btn-block btn-social btn-google"  style="text-align: right;" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            سجل دخولك باستخدام جوجل
          </a>
        </div>
        <div class="card-body" >
            <a class="btn btn-block btn-social btn-facebook" style="text-align: right;" href="/auth/facebook" role="button">
              <i class="fab fa-facebook"></i>
              سجل دخولك باستخدام فيسبوك

            </a>
          </div>
      </div>
    </div>

    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /login route -->
          <form action="/login" method="POST">
            
            <div class="form-group">
              <label for="email">البريد الالكتروني</label>
              <input type="email" class="form-control" name="username">
            </div>
            <div class="form-group">
              <label for="password">كلمه السر</label>
              <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-dark">سجل دخولك</button>
          </form>
          <% if (wrong) { %>
            <div class="alert alert-danger animate" role="alert">
              كلمه المرور او البريد الالكتروني خطا  
            </div>
          <% } %>
        </div>
      </div>
    </div>

    

  </div>
</div>

<%- include('footer');-%>