<%- include('header');-%>
<section class="jumbotron text-center">
        <div class="container">
          <h1 style="text-align-last: center;">خدمات تسهل عليك </h1>
          <p class="lead text-muted">تحتوي هذه الصفحه على العديد من الخدمات وتقدم فيديوهات تساعد الناس على التسجيل في الخدمات الحكوميه</p>
          <p>
            <a href="/contactus" class="btn btn-info my-2">تواصل معنا لاضافه شرح عن خدمه حكوميه</a>
          </p>
        </div>
      </section>

      <div class="album py-5 bg-light text-right">
        <div class="container">
    
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
               <iframe width="100%" height="300" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="card-body">
                  <h2 class="card-text">التسجيل في الضمان الاجتماعي</h2>
                      <a  style="text-align: right;" href="/">يرجى الضغط هنا للانتقال الى صفحه الضمان</a>
            
                </div>
              </div>
            </div>
            
    
           
            
    
            
            
            
          </div>
        </div>
      </div>
     




















<%- include('footer');-%>