
<%- include('header');-%>

<div class="box ">
    <h1 class="t-large ">انشر تفاصيل الدورة </h1>
    <div class="tabledata">
      <form class="" action="index.html" method="post">

      </form>
      <table cellspace='20'>
        <tr>
          <td>
            <table>
              <tr>
                <td><label class="ml-sm-2">موضوع الدورة  </label></td>
                <td><input type="text" name="TranName" placeholder="موضوع الدورة "></td>
              </tr>
              <tr>
                <td><label class="ml-sm-2">مكان الدورة  </label></td>
                <td><input type="text" name="place" placeholder="مكان العمل"></td>
              </tr>
              <tr>
                <td><label class="ml-sm-2">موعد الدورة   </label></td>
                <td><input type="datetime" name="time" placeholder="mm/dd/yyyy"></td>
              </tr>

              <tr>
                <td><label class="ml-sm-2">التكلفة  </label></td>
                <td><input type="number" name="cost" placeholder="350"></td>
              </tr>
            </table>
          </td>
          <td>
            <table>
              <tr>
                <td><label class="ml-sm-2">رقم هاتف </label></td>
                <td><input type="number" name="phone" placeholder="07XXXXXXXX"></td>
              </tr>
              <tr>
                <td><label class="ml-sm-2">الايميل </label></td>
                <td><input type="email" name="mail" placeholder="name@example.com"></td>
              </tr>
              <tr>
                <td><label class="ml-sm-2">مدة الدورة  </label></td>
                <td><input type="number" name="period" placeholder="8"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

      <table>
        <tr>
          <td> <label>تفاصيل : </label> </td>
          <td>
            <textarea name="description" rows="5" cols="30" minlength="0" maxlength="500"></textarea>
          </td>
          <td>
            <input type="submit" value="انشر ">

          </td>
        </tr>
      </table>

    </div>


  </div>
  <%- include('footer');-%>