
<%- include('header');-%>
<div class="box ">
    <h1 class="t-large ">اعلن عن الوظيفة هنا </h1>
    <div class="tabledata">
      <table cellspace='20'>
        <tr>
          <td>
            <form action="/saveWork" method="POST">
            <table>
              <tr>
                <td><label class="ml-sm-2">اسم الوظيفة </label></td>
                <td><input type="text" name="JobName" placeholder="وظيفة"></td>
              </tr>
              <tr>
                <td><label class="ml-sm-2">مكان العمل </label></td>
                <td><input type="text" name="place" placeholder="مكان العمل"></td>
              </tr>
              <tr>
                <td><label class="ml-sm-2">درجة التعليم </label></td>
                <td><input type="text" name="study" placeholder="باكالوريوس"></td>
              </tr>
              <tr>
                <td><label class="ml-sm-2">مستوى الخبرة </label></td>
                <td><input type="text" name="experiance" placeholder="سنتين"></td>
              </tr>
              <tr>
                <td><label class="ml-sm-2">الراتب </label></td>
                <td><input type="number" name="salary" placeholder="350"></td>
              </tr>
            </table>
          </td>
          <td>
            <table>
              <tr>
                <td><label class="ml-sm-2">رقم هاتف </label></td>
                <td><input type="number" name="phone" placeholder="07XXXXXXXX"></td>
              </tr>
              <tr>
                <td><label class="ml-sm-2">الايميل </label></td>
                <td><input type="email" name="mail" placeholder="name@example.com"></td>
              </tr>
              <tr>
                <td><label class="ml-sm-2">ساعات العمل </label></td>
                <td><input type="number" name="hours" placeholder="8"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

      <table>
        <tr>
          <td> <label>تفاصيل : </label> </td>
          <td>
            <textarea name="discription" rows="5" cols="30" minlength="0" maxlength="500"></textarea>
          </td>
          <td>
              
            <input type="submit" value="انشر ">
        </form>
          </td>
        </tr>
      </table>

    </div>


  </div>

  <%- include('footer');-%>