body {
    color: #252222;
    background: rgb(228 255 237 / 50%);
    background: radial-gradient(circle, rgb(249 243 210) 0%, rgb(250 255 234 / 61%) 100%);
    font-family: 'Tajawal', sans-serif;
    font-size: 15px;
    line-height: 1.85714;
}


.navbar-brand{
    font-family: 'Rakkas', cursive ;
    font-size: 50px;
    width: 50px;
    text-align: right;
    position: absolute;;
    right:5% ;
    top: 10%;
    
  }
  .navbar-light .navbar-brand {
      color: #8f1f59;
  }
  .brand_icons{
    width: 200px;
  }
  .box{
    align-items: center;
    width: 100%;
  }
  img.icons{
    width: 100px;
    padding: 3% 8%;
    align-items: center;
    position: relative;
    left: 15%;
  }
  .dropdown-menu{
    min-width: 70px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: 0.50rem;
  }

  .search{
      margin-top: 30px;
  }
  .navbar{
      width: 100%;
      padding: 1rem 1.5rem;
  }
  
  .active-pink input.form-control[type=text] {
    border-bottom: 1px solid #32e4a0;
    box-shadow: 0 1px 0 0 #8fccf4;
    border-top: 0;
    background-color: inherit;
  }

  .active-pink-2 input.form-control[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #f48fb1;
    box-shadow: 0 1px 0 0 #f48fb1;
  }

#Features {
    padding: 7% 15%;
    font-family: 'Tajawal', sans-serif;
    direction: rtl;
}

h3.FB {
    color: black;
    position: absolute;
    top: 20%;
   
}

.t-large {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.67;
    text-align: center;
    padding-top: 5%;
    /*  color: #e0e1e6;*/

}

.input {
    direction: rtl;
    padding-right: 10%;

}

#input_text {
    width: 180px;

}

h2.FB {
    color: black;
}

#title {
    background-color: #e0ece4;
    padding-top: 5px ;
    width: 100%;
}

.text-center {
    color: #0b4580;
}

.drop{
    color: black;
    width :70px;
    padding-top: 12px;
    position:absolute;
    right: 2%;
  
  
  }
  
h1,
h2,
h3 {
    font-family: 'Tajawal', sans-serif;
    color: #7b4c64;
    text-align: right;
    font-size: 1.7rem
}

title {
    font-family: 'Tajawal', sans-serif;
    padding: 0;
    color: #222;
    font-weight: bold;
    font-size: 20px;
    margin: 5px;
}

.pos{
   margin-left: 50px; 
}

  

.card-block {
    right: 5px;
    left: 5px;
    top: 5px;
}

a {

    color: #7b4c64;
}

.btn-light {
    color: #212529;
    background-color: rgba(0, 0, 0, .0);
    border-color: rgba(0, 0, 0, .0);
}

a.FB {
    color: black;
    direction: rtl;
}


.btn.is-teal {
    background-color: #f2f4fd;
    border-color: #4c5d5d;
    align-items: center;
    width: 50px;
}

#text {
    padding: 0 5%;

}

.contact {
    padding-top: 10px;
}


.container .card {
    background-color: inherit;
    border: none;
    text-align: right;

}

.container {
    color: #7B4C8E;
}


/*Wazeefeh style */
.get-in-touch {
    max-width: 800px;
    margin: 50px auto;
    position: relative;

}

.get-in-touch .title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 3.2em;
    line-height: 48px;
    padding-bottom: 48px;
    color: #5543ca;
    background: #5543ca;
    background: -moz-linear-gradient(left, #f4524d 0%, #5543ca 100%) !important;
    background: -webkit-linear-gradient(left, #f4524d 0%, #5543ca 100%) !important;
    background: linear-gradient(to right, #f4524d 0%, #5543ca 100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.contact-form .form-field {
    position: relative;
    margin: 32px 0;
}

.contact-form .input-text {
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: #5543ca;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    text-align: right;
    background-color: inherit;
}

.contact-form a {
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 136px 0;
    border-color: #5543ca;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    text-align: right;
    background-color: inherit;
}
.contact-form .input-text:focus {
    outline: none;
}

.contact-form .input-text:focus+.label,
.contact-form .input-text.not-empty+.label {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
}

.contact-form .label {
    position: absolute;
    margin-bottom: 1.5rem;
    left: 0;
    right: 15px;
    bottom: 11px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #5543ca;
    cursor: text;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out,
        -webkit-transform .2s ease-in-out;
    text-align: right;
}

.contact-form .submit-btn {
    background-color: #A04A8E;
    color: inherit;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    width: 60%;
    cursor: pointer;
    float: right;
    margin-right: 180px;
}

/* remove arrow from number input*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.jumbotron{
    margin-top: 30px;
    background-color: inherit;
}


  .card-columns .card {
    display: inline-block;
    width: 100%;
    background-color: cornsilk;
    position: relative;
    left: 25rem;
    text-align: right;
    padding: 4%;
    
  }
  .row{
    margin-right: 0;
}

@media (max-width:768px) {
    .navbar-brand {
        
      
        right: 15%;
    }

    .contact-form {
        padding: 0;
    }
    .pos{
        margin: 0;
    }
    .get-in-touch{
        max-width: 100%;
        margin: 0;
        margin-top: 4rem;
    }
    .contact-form .submit-btn {
        width: 100%;
        margin-right: 0;
    }
    .row{
        margin-right: 0;
    }
    .search{
        margin-top: 50px;
    }
    .card-columns .card{
        position: unset;
    }
    
}